@tailwind base;
@tailwind components;
@tailwind utilities;


html{
    scroll-behavior: smooth;
}


::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  ::-webkit-scrollbar-track {
    /* background: #1e293b; */
    background: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #2762eb;
    border-radius: 8px;
  }